.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  
  .book-item-container {
    height: 380px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
  }
  