.searchExpanded {
  width: 700px;
  /* Otros estilos para agrandar el input */
}


.navBar {
    background-color:#52BE80;;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navBar-head {
    display: flex;
    align-items: center;
  }
  
  .title {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    margin-right: 20px;
  }
  
  .btn {
    display: flex;
    align-items: center;
    
  }
  
  form {
    display: flex;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  width: 300px; 
  }
  
  button[type="submit"] {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #466539
  }
  
  .btn-primary {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #9bdf77;
 
  }

